.chosed-bar{
	height: 200px;
	width: 100%;
	background: #fff;
	text-align: center;
}

.chosed-bar-wrapper{
	display: inline-block;
	height: 100%;
}

.chosed-bar-wrapper .title{
	height: 200px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	vertical-align: top;
	margin: 0 50px;
	line-height: 200px;
}

.chosed-bar-wrapper .icon-bar{
	height: 200px;
	display: inline-block;
	position: relative;
}

.icon-box{
	display: inline-block;
	height: 200px;
	overflow: hidden;
}

.icon-wrapper{
	height: 200px;
	position: relative;
	transition: left 0.6s;
}
.icon-wrapper .icon{
	width: 100px;
	height: 100px;
	margin: 50px 30px;
	display: inline-block;
	background-size: 100px 100px;
}
.icon-bar .arrow-left, .arrow-right{
	background: url('../../../images/arrow.png') no-repeat center;
	height: 25px;
	width: 50px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 50%;
	cursor: pointer;
	transition: all 0.6s;
}
.arrow-left:hover{
	transform: scale(1.1) rotate(270deg) translateX(12.5px);
}
.arrow-right:hover{
	transform: scale(1.1) rotate(90deg) translateX(-12.5px);
}
.arrow-left{
	transform: rotate(270deg) translateX(12.5px);
}
.arrow-right{
	transform: rotate(90deg) translateX(-12.5px);
}

.icon .mask{
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	transition: all 0.6s;
	cursor: pointer;
}
.icon .mask span{
	text-align: center;
	line-height: 100px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px solid #555;
}

.icon:hover .mask{
	opacity: 0.6;
}

.chosed-bar .button{
	display: inline-block;
	position: relative;
	vertical-align: top;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 50px;
}

@keyframes leftLimit{
	0% {transform: translateX(0px);}
	50% {transform: translateX(-30px);}
	100% {transform: translateX(0px);}
}

@keyframes rightLimit{
	0% {transform: translateX(0px);}
	50% {transform: translateX(30px);}
	100% {transform: translateX(0px);}	
}