.nav-item{
	width: 12.5%;
	height: 50px;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}

.nav-text{
	height: 35px;
	line-height: 35px;
}

.nav-text a{
	color: #c19e7d;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 3px;
}

.nav-text a:hover{
	color: #c19e7d;
}

.underline{
	height: 1px;
	width: 0;
	margin: 5px auto;
	background: #c19e7d;
	display: block;
	transition: width 0.3s;
}

.nav-item:hover .underline{
	width: 50px;
}